[bumpversion]
current_version = 0.6.1
commit = True
tag = True
message = :bookmark: set version to {new_version} (from {current_version})

[bumpversion:file:src/wtforms_html5.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"

[bumpversion:file:setup.cfg]
search = version = {current_version}
replace = version = {new_version}

[bumpversion:file:README.md]
search = **VERSION**: `{current_version}`
replace = **VERSION**: `{new_version}`
