[bumpversion]
current_version = 0.2.3
commit = True
tag = True

[bumpversion:file:wtforms_html5.py]
search = __version__ = '{current_version}'
replace = __version__ = '{new_version}'

[bumpversion:file:setup.py]
search = VERSION = '{current_version}'
replace = VERSION = '{new_version}'

