language: python
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7"
before_script:
  - make styletests
script:
  - if [[ $TRAVIS_PYTHON_VERSION != '2.7' ]]; then make doctests; fi
  - make cover
branches:
  only:
    - master
after_success:
  - pip install coveralls
  - coveralls
